div.invalid-feedback,
label.col-form-label {
  padding-left: 0;
}

@media (min-width: 576px) {
  div.invalid-feedback {
    margin-left: 17%;
  }
  div.container-button-message {
    margin-left: 15.5%;
    padding-left: 0;
  }
}

@media (max-width: 576px) {
  div.container-button-message {
    margin-left: -15px;
  }
}
